.search-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0;
    margin-bottom: 10px;
}

.form-inline .form-control, .form-inline .form-control {
    background: none repeat scroll 0 0 #eeeeee;
    border-radius: 1px;
    color: #333;
    font-style: italic;
    height: 40px;
    margin-right: 10px;
    width: 195px;
}

.carousel-item{min-height:300px; background:#ccc; }
.carousel-item img {
	height: 300px; width: auto;
}


.themeBtn3 {
   /*  background: #167ce9; */
   /*  color: #ffffff !important; */
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 0.8;
    padding: 18px 30px;
    text-transform: capitalize;
 /*    border-radius: 1px; */
    letter-spacing: 0.5px;
	/* border:0px !important; */
	cursor:pointer;
/* 	border-radius:100px; */
	width: 100%;
	text-align: center;
	margin: 0 20px 0 20px;
}
/* .themeBtn3:hover {
    background: rgb(255, 46, 77);
    color: #ffffff;
    box-shadow: 0 10px 25px -2px rgba(255, 46, 77, 0.6);
} */

.btn-circle {
  width: auto;
  height: 35px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
  margin-right: 5px;
}

.filter-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0;
    margin-bottom: 10px;
    text-decoration: none;
}

.nav{
	width: 100%;
}

.nav-tabs .nav-item{
	width: 50%;
}

.drop-sort{
	
}

.ftco-section{
	padding-top: 10px !important; 
}

.search-form .form-inline{
	width: 100%;
}

.search-form .form-inline .form-group{
	padding-left: 1%;
	padding-right: 1%;
	width: 80% !important 	;
}

.search-form .form-inline .form-group .form-control{
	width: 100% !important 	;
}