.wrapper {
	background-color:red;
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
    max-height: 383px;
    max-width: 370px;
    padding: 30px 38px 66px;
    margin-left: 250px;
    background-color: rgba(212, 208, 208, 0.6);
    border-radius: 19px;
}

.form-signin-heading {
	font-size:27px;
    text-align:center;
    margin-bottom: 0px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
	border-radius:10px;
    margin-bottom: 0px;
}


input[type="password"] {
    margin-bottom: 20px;
    border-radius:10px;
}