@charset "UTF-8";
.min_height_222{
	min-height: 222px;
}

.firma-ara{
    padding-bottom: 100px;
    padding-top: 100px;
}
.form-arka-plan{
        position: relative;
        
}
.acik-renk-form{
    background: rgba(255, 255, 255, 0.58);
}
.siyah-cerceve{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}