<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
<title>Insert title here</title>
<meta charset="utf-8">

</head>
<body>
	<div th:fragment="menu">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
			<div class="container">
				<!-- Brand -->
				<a class="navbar-brand" th:href="@{/}"><span>Acatim</span> Fpt
					University</a>

				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navbar links -->
				<form th:action="@{/registration}" method="get">
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="index.html"
								th:href="@{/}">Trang chủ</a></li>
							<li class="nav-item"><a class="nav-link" href="course.html"
								th:href="@{/course}">Khóa học</a></li>
							<li class="nav-item"><a class="nav-link" href="teacher.html"
								th:href="@{/teacher}">Giáo viên/Trung tâm</a></li>
							<li class="nav-item"><a class="nav-link" href="contact.html"
								th:href="@{/contact}">Liên Hệ</a></li>
						</ul>
						<ul class="navbar-nav ml-auto navbar-right">
							<li class="nav-item dropdown"
								th:if="${#request.userPrincipal != null}"><a
								class="nav-link dropdown-toggle" href="#" id="navbardrop"
								data-toggle="dropdown" th:utext="${#request.userPrincipal.name}">
							</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" sec:authorize="hasAnyAuthority('Admin', 'Manager')" th:href="@{/admin/}" th:text="'Trang Quản lý Web'"></a>
									<a class="dropdown-item" href="profile.html" th:href="@{/profile}" th:text="'Trang cá nhân'"> </a>
									<a class="dropdown-item"  sec:authorize="hasAnyAuthority('Teacher', 'Study Center')"  th:href="@{/manager-course}" th:text="'Quản Lý Khóa Học'"></a>
									<a class="dropdown-item" th:href="@{/change-password}" th:text="'Đổi Mật Khẩu'"> </a>
									<a class="dropdown-item" th:href="@{/update-info}" th:text="'Cập Nhật Thông Tin'"> </a>
									<a class="dropdown-item" th:href="@{/Logout}" th:text="'Đăng xuất'"></a>

								</div></li>
								

						</ul>
						<a th:href="@{/registration}"
							th:if="${#request.userPrincipal == null}" role="button"
							class="btn btn-primary" style="margin-top: 8px;">Đăng ký</a> <a
							th:href="@{/loginPage}" th:if="${#request.userPrincipal == null}"
							role="button" class="btn btn-primary"
							style="margin-left: 5px; margin-top: 8px;">Đăng nhập</a>
					</div>
				</form>
			</div>
		</nav>
	</div>
</body>
</html>