<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>star rating feedback form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="text/javascript" src="magicRating.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<link rel="stylesheet" href="css/ratingCenter.css">
</head>
<body>
<div th:fragment="ratingTeacher"></div>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade " style="top:60px;"id="myModal" role="dialog">
            <div class="modal-dialog">
                <div id="page3" style="display:none;overflow-y:scroll;" class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle
                                "></span></button>
                        <h4 class="modal-title" style="font-weight:Bold;">Đánh giá của bạn về Giáo Viên</h4>
                    </div>
                    <div class="mobile_progress_bar">
                        <div class="text-left visible-xs" style="margin-bottom:40px;">
                            <div class="progress">
                                <div data-percentage="0%" style="width: 60%;" class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <strong>Tổng số đánh giá của bạn</strong>
                        </div>
                    </div>
                    <div class="modal-body row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-1 hidden-xs">
                                    <h5>a.</h5>
                                </div>
                                <div class="col-md-11">
                                    <h5>
                                        Bạn cảm thấy trình độ chuyên môn của giáo viên như thế nào? 
                                    </h5>
                                    <span onclick="myFunction(this)" style="color:red" id="rating" class="rating" name="Knowledgeable" data-current-rating=0 data-icon-bad='fa fa-heart-o' data-icon-good='fa fa-heart'></span>
								</div>
                            </div>
							
                            <div class="col-md-6">
                                <div class="col-md-1 hidden-xs">
                                    <h5>b.</h5>
                                </div>
                                <div class="col-md-11 hidden-xs">
                                    <h5>
                                        Giáo viên truyền tải kiến thức cho bạn có rõ ràng,dễ hiểu không?
                                    </h5>
                                    <span onclick="myFunction(this)" style="color:red" id="rating" class="rating" name="Clarity Level" data-current-rating=0 data-icon-bad='fa fa-heart-o' data-icon-good='fa fa-heart'></span>
                                </div>
                            </div>
                        </div>
						  <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-1 hidden-xs">
                                    <h5>c.</h5>
                                </div>
                                <div class="col-md-11">
                                    <h5>
                                        Sự giúp đỡ của giáo viên có hữu ích với bạn không?
                                    </h5>
                                    <span onclick="myFunction(this)" style="color:red" id="rating" class="rating" name="Helpful Level" data-current-rating=0 data-icon-bad='fa fa-heart-o' data-icon-good='fa fa-heart'></span>
                                </div>
                            </div>
							
                            <div class="col-md-6">
                                <div class="col-md-1 hidden-xs">
                                    <h5>d.</h5>
                                </div>
                                <div class="col-md-11 hidden-xs">
                                    <h5>
                                        Giáo viên sử dụng kiến thức ở trong sách giáo khoa có tốt không?
                                    </h5>
                                    <span onclick="myFunction(this)" style="color:red;" id="rating" class="rating" name="textbook use" data-current-rating=0 data-icon-bad='fa fa-heart-o' data-icon-good='fa fa-heart'></span>
                                </div>
                            </div>
                        </div>
						  <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-1 hidden-xs">
                                    <h5>e.</h5>
                                </div>
                                <div class="col-md-11">
                                    <h5>
                                       Mức đồ khó của các bài kiểm tra có phù hợp với bạn không?
                                    </h5>
                                    <span onclick="myFunction(this)" style="color:red" id="rating" class="rating" name="exam difficulty" data-current-rating=0 data-icon-bad='fa fa-heart-o' data-icon-good='fa fa-heart'></span>
                                </div>
                            </div>
							
                            <div class="col-md-6">
                                <div class="col-md-1 hidden-xs">
                                    <h5>f.</h5>
                                </div>
                                <div class="col-md-11 hidden-xs">
                                    <h5>
                                        Bạn có dễ dàng trao đổi kiến thức với giáo viên hay không?
                                    </h5>
                                    <span onclick="myFunction(this)" style="color:red;" id="rating" class="rating" name="easy level" data-current-rating=0 data-icon-bad='fa fa-heart-o' data-icon-good='fa fa-heart'></span>
                                </div>
                            </div>

                        </div>
						
                        <div class="col-md-12">
                            <div class="col-xs-12 col-lg-6 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="input" class="control-label col-md-2 col-sm-2 hidden-xs">a.</label>
                                    <div class="col-md-10 col-xs-12 col-sm-8">
                                        <div class="mat-input">
                                            <div class="mat-input-outer" style="margin-bottom:35px;">
                                                <input style="height:60px;" type="text" autocomplete="off" />
                                                <label style="font-size: 15px;
                                                line-height: 20px;">Bạn có bất kỳ ý kiến hoặc đề xuất nào bạn muốn chia sẻ với chúng tôi không?</label>
                                                <div class="border"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
							<div class="col-md-8 hidden-xs">
                                </div>
                                <div class="col-md-4 hidden-xs">
                                   <button type="button" id="ok2" class="btn btn-default ok" data-dismiss="">Ok  <span class="glyphicon glyphicon-ok"></span></button></div>                             
						</div>
						</div>
                    </div>
                    <div class="modal-footer col-md-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-md-6 text-left hidden-xs">
                                <strong>Tổng đánh giá của bạn: </strong><label id="demo" style="color:red"></label>
                                <div class="progress">
                                    <div data-percentage="0%" style="width: 0%;" class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 hidden-xs">
                            </div>
                        </div>


                    </div>
                </div>
                <!-- END Modal content page3-->
                <!-- Modal content page 4-->
                <div id="page4" style="display:none;" class="modal-content">
                    <div class="modal-body ">
                        <div class="col-lg-12">
                            <button type="button" class="close close_model" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle
                                        "></span>
                                    </button>
                        </div>
                        <div class="thank_you_body">
                            <div class="heading_msg2">
                                <h3>
                                    <span>Cảm ơn sự đóng góp của bạn!</span><br> Ý kiến của bạn đã được gửi đến chúng tôi.Chúng tôi sẽ cố gắng nâng cấp để sản phẩm ngày càng tốt hơn :))
                                </h3>

                            </div>
                            <div class="row text-center give_feedback">

                                <button type="submit" class="btn btn-default " data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>

                </div>
                <!--End Modal content page 4-->
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function() {
        	$("#myModal").modal('show');
                $("#page3").show();
                $("#page4").hide();
                $("#main_popup").hide();
        });
        $("#ok2,#arr2").click(function() {
            $("#page3").hide();
            $("#page4").show();
            $("#main_popup").hide();
        });
    </script>
    <script>
        new WOW().init();
    </script>
    <script>
        $(function() {
            $('.mat-input-outer label').click(function() {
                $(this).prev('input').focus();
            });
            $('.mat-input-outer input').focusin(function() {
                $(this).next('label').addClass('active');
            });
            $('.mat-input-outer input').focusout(function() {
                if (!$(this).val()) {
                    $(this).next('label').removeClass('active');
                } else {
                    $(this).next('label').addClass('active');
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.rating').magicRatingInit({
                success: function(magicRatingWidget, rating) {
                    alert(rating);
                },
                iconGood: "fa-bicycle",
                iconBad: "fa-car",
            });
            $(".rating2").magicRatingInit({
                success: function(magicRatingWidget, rating) {
                    alert(rating);
                }
            })
        });
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
        
    </script>

<script type="text/javascript">
// Init function

            var nameOfIcon;		
			function myFunction(name) {
			 nameOfIcon=name.getAttribute("name");
             }	 
	
$.fn.magicRatingInit = function(config) {

    // Init each widget return by the selector
    for (widget of $(this)) {
        var magicRatingWidget = $(widget);
        //// Get datas ////
        // Icon +
        if (magicRatingWidget.data("iconGood") == null) {
            magicRatingWidget.data("iconGood", config.iconGood != null ? config.iconGood : "fa-star");
        };

        // Icon -
        if (magicRatingWidget.data("iconBad") == null) {
            magicRatingWidget.data("iconBad", config.iconBad != null ? config.iconBad : "fa-star-o");
        };

        // Max mark
        if (magicRatingWidget.data("maxMark") == null) {
            magicRatingWidget.data("maxMark", config.maxMark != null ? config.maxMark : 5);
        };
        /*
        console.log(magicRatingWidget.data("iconGood"));
        console.log(magicRatingWidget.data("iconBad"));
        */

        // Clear the widget
        magicRatingWidget.html("");

        // Init icons
        for (i = 1; i <= magicRatingWidget.data("maxMark"); i++) {
            if (i <= magicRatingWidget.data("currentRating")) {
                magicRatingWidget.append('<i class=" ' + magicRatingWidget.data("iconGood") + ' magic-rating-icon" aria-hidden="true" data-default=true data-rating=' + i + '></i>');
            } else {
                magicRatingWidget.append('<i class=" ' + magicRatingWidget.data("iconBad") + ' magic-rating-icon" aria-hidden="true" data-default=false data-rating=' + i + '></i>');
            }
        }

        // Init reset handler
        magicRatingWidget.on("mouseleave", function() {
            var widget = $(this);
            
           // console.log("mouseleave");
           // console.log(widget.data("iconGood"));
           // console.log(widget.data("iconBad"));
            
            widget.children().each(function() {
                var icon = $(this);
                if (icon.data("default") && !icon.hasClass("fa-star")) {
                    icon.removeClass(widget.data("iconBad"));
                    icon.addClass(widget.data("iconGood"));
                } else if (!icon.data("default") && !icon.hasClass("fa-star-o")) {
                    icon.removeClass(widget.data("iconGood"));
                    icon.addClass(widget.data("iconBad"));
                }
            });
        });
				
				var sumFeedback=0;
				var hash = {};
				hash['Knowledgeable'] = 0; 
				hash['Clarity Level'] = 0;
				hash['Helpful Level'] = 0;
				hash['textbook use'] = 0;
				hash['exam difficulty'] = 0;
				hash['easy level'] = 0;
        // Init click handler
        magicRatingWidget.on("click", ".magic-rating-icon", function() {
            // Get rating
            var icon = $(this);
            var widget = icon.parent();
			var rating1=icon.data("rating");
            var rating = parseInt(rating1);
			var nameIcon = widget.data("iconGood");
			         if("Knowledgeable" === nameOfIcon){
					 hash['Knowledgeable'] = rating;
					 }
					 if("Clarity Level" === nameOfIcon){
					 hash['Clarity Level'] = rating;
					 }
					 if("Helpful Level" === nameOfIcon){
					 hash['Helpful Level'] = rating;
					 }
					 if("textbook use" === nameOfIcon){
					 hash['textbook use'] = rating;
					 }
					 if("exam difficulty" === nameOfIcon){
					 hash['exam difficulty'] = rating;
					 }
					 if("easy level" === nameOfIcon){
					 hash['easy level'] = rating;
					 }
				console.log(hash)
				sumFeedback= hash['Knowledgeable']+ hash['Clarity Level']+hash['Helpful Level']+hash['textbook use']+hash['exam difficulty']+hash['easy level'];
					
			 $('.progress-bar').css('width', (sumFeedback * 3.3)+ 1 +'%');
			 document.getElementById("demo").innerHTML = (sumFeedback * 3.3)+ 1 +'%';            
            // Update rating
            widget.children().each(function() {
                if ($(this).data("rating") <= rating) {
                    if (!$(this).hasClass(widget.data("iconGood"))) {
                        $(this).removeClass(widget.data("iconBad"));
                        $(this).addClass(widget.data("iconGood"));
                    };
                    $(this).data("default", true);
                } else {
                    if (!$(this).hasClass(widget.data("iconBad"))) {
                        $(this).removeClass(widget.data("iconGood"));
                        $(this).addClass(widget.data("iconBad"));
                    }
                    $(this).data("default", false);
                }
            });

            //var callbackSuccess = config.success.bind(null, widget, rating);//get data-current-rating
            //callbackSuccess();
        });

        // Init hover icons
        magicRatingWidget.on("mouseenter", ".magic-rating-icon", function() {
            var icon = $(this);
            var rating = icon.data("rating");
            var widget = icon.parent();
            /*
            console.log("mouseenter");
            console.log(widget.data("iconGood"));
            console.log(widget.data("iconBad"));
            */
            widget.children().each(function() {
                if ($(this).data("rating") <= rating) {
                    if (!$(this).hasClass(widget.data("iconGood"))) {
                        $(this).removeClass(widget.data("iconBad"));
                        $(this).addClass(widget.data("iconGood"));
                    };
                } else {
                    if (!$(this).hasClass(widget.data("iconBad"))) {
                        $(this).removeClass(widget.data("iconGood"));
                        $(this).addClass(widget.data("iconBad"));
                    }
                }
            });
        });
    }
};

// Update for hover icons
</script>
</body>
</html>
