<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>courseId</th>
				<th>subjectName</th>
				<th>userName</th>
				<th>courseName</th>
				<th>courseDescription</th>
				<th>startTime</th>
				<th>endTime</th>
				<th>startDate</th>
				<th>endDate</th>
				<th>price</th>
				<th>createDate</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${courses.empty}">
				<td colspan="2">No Books Available</td>
			</tr>
			<tr th:each="course : ${courses}">
				<td><span th:text="${course.courseId}"> Title </span></td>
				<td><span th:text="${course.subject.subjectName}">
						subjectName </span></td>
				<td><span th:text="${course.userName}"> userName </span></td>
				<td><span th:text="${course.courseName}"> courseName </span></td>
				<td><span th:text="${course.courseDescription}">
						courseDescription </span></td>
				<td><span th:text="${course.startTime}"> startTime </span></td>
				<td><span th:text="${course.endTime}"> endTime </span></td>
				<td><span th:text="${course.startDate}"> startDate </span></td>
				<td><span th:text="${course.endDate}"> endDate </span></td>
				<td><span th:text="${course.price}"> price </span></td>
				<td><span th:text="${course.createDate}"> createDate </span></td>
			</tr>
		</tbody>
	</table>

	<br>
	<br>
	<br>
	<br>

	<table>
		<thead>
			<tr>
				<th>subjectId</th>
				<th>categoryId</th>
				<th>courseName</th>
				<th>courseDescription</th>
				<th>startTime</th>
				<th>List Course</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${subjects.empty}">
				<td colspan="2">No Books Available</td>
			</tr>
			<tr th:each="subject : ${subjects}">
				<td><span th:text="${subject.subjectId}"> subjectId </span></td>
				<td><span th:text="${subject.categoryId}"> categoryId </span></td>
				<td><span th:text="${subject.subjectName}"> subjectName
				</span></td>
				<td><span th:text="${subject.createDate}"> createDate </span></td>
				<td><span th:text="${subject.updateDate}"> updateDate </span></td>
				<td>

					<table>
						<thead>
							<tr>
								<th>courseId</th>
								<th>userName</th>
								<th>courseName</th>
								<th>courseDescription</th>
								<th>startTime</th>
								<th>endTime</th>
								<th>startDate</th>
								<th>endDate</th>
								<th>price</th>
								<th>createDate</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${subject.courses.empty}">
								<td colspan="2">No Books Available</td>
							</tr>
							<tr th:each="course : ${subject.courses}">
								<td><span th:text="${course.courseId}"> Title </span></td>
								<td><span th:text="${course.userName}"> userName </span></td>
								<td><span th:text="${course.courseName}"> courseName
								</span></td>
								<td><span th:text="${course.courseDescription}">
										courseDescription </span></td>
								<td><span th:text="${course.startTime}"> startTime </span></td>
								<td><span th:text="${course.endTime}"> endTime </span></td>
								<td><span th:text="${course.startDate}"> startDate </span></td>
								<td><span th:text="${course.endDate}"> endDate </span></td>
								<td><span th:text="${course.price}"> price </span></td>
								<td><span th:text="${course.createDate}"> createDate
								</span></td>
							</tr>
						</tbody>
					</table>

				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>