<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Student | Kiaalap - Kiaalap Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="admin/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/owl.carousel.css">
    <link rel="stylesheet" href="admin/css/owl.theme.css">
    <link rel="stylesheet" href="admin/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="admin/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="admin/css/calendar/fullcalendar.print.min.css">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/form/all-type-forms.css">
    <!-- dropzone CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/dropzone/dropzone.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="admin/style.css">
      <!-- chosen CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/chosen/bootstrap-chosen.css">
    
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="admin/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- select2 CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/select2/select2.min.css">
     <!-- ionRangeSlider CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/ionRangeSlider/ion.rangeSlider.css">
    <link rel="stylesheet" href="admin/css/ionRangeSlider/ion.rangeSlider.skinFlat.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="admin/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/responsive.css">
    <!-- chosen CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/chosen/bootstrap-chosen.css">
    <!-- datapicker CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/datapicker/datepicker3.css">

    
    
</head>

<body>
    
    <!-- Start Left menu area -->
    <div th:insert="admin/menuAdmin :: menu"></div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">

        <div class="header-advance-area">
                    
            <!-- Start right menu area -->
            <div th:insert="admin/menuRight :: menu"></div>
            <!-- End right menu area -->
            
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                            <form role="search" class="sr-input-func">
                                                <input type="text" placeholder="Search..." class="search-int form-control">
                                                <a href="#"><i class="fa fa-search"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">Add Student</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="product-payment-inner-st">
						<h4>Thêm Khóa Học</h4>
						<div th:if="${errorMessage != null}"
           					th:utext="${errorMessage}" class="error">...</div>
						<br>
							<form th:action="@{add-course}" th:object="${course}"
								method="POST">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label>Chọn Môn Học</label> 
											<select class="chosen-select" th:field="*{subjectId}">
												<option value="0">--Tât Cả--</option>
												<option th:each="subject : ${allSubjects}" th:value="${subject.subjectId}">[[${subject.subjectName}]]</option>
											</select>
											<div th:if="${errorMessage != null}"
           												th:utext="${errorMessage}" class="error">...</div>
										</div>
										<div class="form-group">
											<label>Khóa Học Thuộc Người Dùng</label> 
											<select class="chosen-select" th:field="*{userName}">
												<option value="0">--Tât Cả--</option>
												<option th:each="user : ${allTeacherSC}" th:value="${user.userName}">[[${user.fullName}]]</option>
											</select>
											<div th:if="${errorUserName != null}"
           												th:utext="${errorUserName}" class="error">...</div>
										</div>
										<div class="form-group">
											<label>Tên Khóa Học</label> <input type="text"
												class="form-control" th:field="*{courseName}"
												placeholder="Tên Khóa Học"> <span id="error"
												th:if="${#fields.hasErrors('courseName')}"
												th:errors="*{courseName}">..</span>
										</div>
										<div class="form-group">
											<label>Giờ Bắt Đầu</label> <input type="time"
												class="form-control example1" th:field="*{startTime}"
												placeholder="startTime"> <span
												th:if="${#fields.hasErrors('startTime')}"
												th:errors="*{startTime}">..</span>
										</div>
										<div class="form-group">
											<label>Giờ Kết thúc</label> <input type="time"
												class="form-control example1" th:field="*{endTime}"
												placeholder="endTime"> <span
												th:if="${#fields.hasErrors('endTime')}"
												th:errors="*{endTime}">..</span>
										</div>
										<div class="form-group data-custon-pick data-custom-mg" id="data_5">
											<label><b>Thời Gian Học Từ Ngày</b></label> 
											<div class="input-daterange input-group" id="datepicker">
                                            	<input type="text" class="form-control" name="start" th:field="*{startDate}"/>
                                           		 <span class="input-group-addon">Đến</span>
                                           	 	<input type="text" class="form-control" name="end" th:field="*{endDate}" />
                                           	 	
                                        	</div>
                                        	<span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">..</span>
                                        	<br>
											<span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">..</span>
										</div>
										<div class="form-group">
											<label>Giá (VND)</label> <input type="text"
												class="form-control" th:field="*{price}" placeholder="Giá Khóa Học"></input>
											<span th:if="${#fields.hasErrors('price')}"
												th:errors="*{price}">..</span>
										</div>

										<div class="form-group res-mg-t-15">
											<label>Thông Tin Khóa Học</label>
                                            <textarea name="description" th:field="*{courseDescription}" placeholder="Description"></textarea>
                                            <span th:if="${#fields.hasErrors('courseDescription')}" th:errors="*{courseDescription}">..</span>
                                        </div>
									</div>
									
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="payment-adress">
											<button type="submit"
												class="btn btn-primary waves-effect waves-light">Submit</button>
										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018. All rights reserved. Template by <a href="https://colorlib.com/wp/templates/">Colorlib</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="admin/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="admin/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="admin/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="admin/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="admin/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="admin/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="admin/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="admin/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="admin/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="admin/js/metisMenu/metisMenu.min.js"></script>
    <script src="admin/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="admin/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="admin/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="admin/js/calendar/moment.min.js"></script>
    <script src="admin/js/calendar/fullcalendar.min.js"></script>
    <script src="admin/js/calendar/fullcalendar-active.js"></script>
    <!-- maskedinput JS
		============================================ -->
    <script src="admin/js/jquery.maskedinput.min.js"></script>
    <script src="admin/js/masking-active.js"></script>
    <!-- datepicker JS
		============================================ -->
    <script src="admin/js/datepicker/jquery-ui.min.js"></script>
    <script src="admin/js/datepicker/datepicker-active.js"></script>
    <!-- datapicker JS
		============================================ -->
    <script src="admin/js/datapicker/bootstrap-datepicker.js"></script>
    <script src="admin/js/datapicker/datepicker-active.js"></script>
     <!-- select2 JS
		============================================ -->
    <script src="admin/js/select2/select2.full.min.js"></script>
    <script src="admin/js/select2/select2-active.js"></script>
     <!-- rangle-slider JS
		============================================ -->
    <script src="admin/js/rangle-slider/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="admin/js/rangle-slider/jquery-ui-touch-punch.min.js"></script>
    <script src="admin/js/rangle-slider/rangle-active.js"></script>
    
    <!-- form validate JS
		============================================ -->
    <script src="admin/js/form-validation/jquery.form.min.js"></script>
    <script src="admin/js/form-validation/jquery.validate.min.js"></script>
    <script src="admin/js/form-validation/form-active.js"></script>
     <!-- chosen JS
		============================================ -->
    <script src="admin/js/chosen/chosen.jquery.js"></script>
    <script src="admin/js/chosen/chosen-active.js"></script>
    
    <!-- dropzone JS
		============================================ -->
    <script src="admin/js/dropzone/dropzone.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="admin/js/tab.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="admin/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="admin/js/main.js"></script>

</body>

</html>