<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Students | Acatim - Acatim Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="admin/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/owl.carousel.css">
    <link rel="stylesheet" href="admin/css/owl.theme.css">
    <link rel="stylesheet" href="admin/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
        <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/modals.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="admin/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="admin/css/calendar/fullcalendar.print.min.css">
       <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/editor/select2.css">
    <link rel="stylesheet" href="admin/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="admin/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="admin/css/editor/x-editor-admin/style.css">
    
    <link rel="stylesheet" href="admin/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="admin/css/data-table/bootstrap-editable.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="admin/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <!-- Start Left menu area -->
    <div th:insert="admin/menuAdmin :: menu"></div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">

        <div class="header-advance-area">
                    
            <!-- Start right menu area -->
            <div th:insert="admin/menuRight :: menu"></div>
            <!-- End right menu area -->
            
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                            <form role="search" class="sr-input-func">
                                                <input type="text" placeholder="Search..." class="search-int form-control">
                                                <a href="#"><i class="fa fa-search"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">All Students</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap drp-lst">
                            <h4>Danh Sách Học Sinh</h4>
                            <div class="add-product">
                                <a th:href="@{/admin/add-student}">Thêm Học Sinh</a>
                            </div>
                            <div class="asset-inner">
                                <table>
									<tr>
										<th>Tên Tài Khoản</th>
										<th>Tên Và Họ</th>
										<th>Email</th>
										<th>Số Điện Thoại</th>
										<th>Địa chỉ</th>
										<th>Ngày Sinh</th>
										<th>Giới Tính</th>
										<th>Trạng thái</th>
										<th></th>
									</tr>
									<tr th:each="student : ${allStudent}">
										<td th:text="${student.userName}"></td>
										<td th:text="${student.fullName}"></td>
										<td th:text="${student.email}"></td>
										<td th:text="${student.phone}"></td>
										<td th:text="${student.address}"></td>
										<td th:text="${student.student.dob}"></td>
										<td th:text="${student.student.gender ? 'Male' : 'Female'}"></td>
										<td th:text="${student.active  ? 'Active' : 'Blocked'}"></td>
										<td>
											<button type="button" class="btn btn-primary" data-toggle="modal"
							 								th:attr="data-target='#'+${student.userName}">Chi Tiết</button>
							 						<button type="button" class="btn btn-danger" data-toggle="modal" th:if="${student.active == true}"
							 								th:attr="data-target='#'+${student.userName}+'1'">Khóa</button>
							 						<button type="button" class="btn btn-success" data-toggle="modal" th:if="${student.active == false}"
							 								th:attr="data-target='#'+${student.userName}+'2'">Mở Khóa</button>
										</td>
									</tr>
								</table>
                            </div>
                            <div class="custom-pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div th:id="${student.userName}+'1'" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog" th:each="student : ${allStudent}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                    <div class="modal-body">
                                        <span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
                                        <h2>KHÓA!</h2>
                                        <p>Bạn có chắc muốn KHÓA tài khoản này!</p>
                                    </div>
                                    <div class="modal-footer danger-md">
                                        <a data-dismiss="modal" href="#">Không</a>
                                        <a th:href="@{/admin/blockStudent(userName=${student.userName})}">Đúng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
        <div th:id="${student.userName}+'2'" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog"  th:each="student : ${allStudent}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                    <div class="modal-body">
                                        <span class="educate-icon educate-warning modal-check-pro information-icon-pro"></span>
                                        <h2>MỞ KHÓA!</h2>
                                        <p>Bạn có chắc muốn MỞ KHÓA tài khoản này!</p>
                                    </div>
                                    <div class="modal-footer warning-md">
                                        <a data-dismiss="modal" href="#">Không</a>
                                        <a th:href="@{/admin/unlockStudent(userName=${student.userName})}">Đúng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
        <!-- phần popup detail course -->
	<div th:each="student : ${allStudent}">
		<div th:id="${student.userName}" class="modal fade" tabindex="-1" role="dialog"
			aria-labelledby="productGrid">
			<div class="modal-dialog modal-lg" role="document" >
				<div class="modal-content">
					<div class="modal-header">
					<h4 class="modal-title1" id="productGrid">Thông tin chi tiết</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
						<div class="modal-body">
							<form th:action="@{studentUpdate}" th:object="${studentForm}" method="POST" 
								class="dropzone dropzone-custom needsclick add-professors"
								id="demo1-upload">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<b>User Name : <b th:text="${student.userName}"></b></b>
										<div class="form-group">
											<input type="text" class="form-control" th:field="*{userName}"
												placeholder="Tên Tài Khoản" th:value="${student.userName}">
											<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">..</span>
										</div>
										<div class="form-group">
											<input type="text" class="form-control"
												placeholder="Họ và Tên" th:value="${student.fullName}">
											<span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">..</span>
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Email"
												th:value="${student.email}" ></input>
											<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
										</div>
										<div class="form-group">
											<input type="number" class="form-control" 
												placeholder="Số điện thoại" th:value="${student.phone}">
											<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Địa chỉ"
												th:value="${student.address}">
											<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
										</div>
										<div class="form-group">
											<input type="text" class="form-control"
												placeholder="Ngày Sinh" th:value="${student.student.dob}">
											<span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">..</span>
										</div>
										<div class="form-group">
											<select class="form-control" th:field="*{gender}">
												<option  th:text="${student.student.gender  ? 'Male' : 'Female'}" value="true">Male</option>
												<option th:text="${student.student.gender  ? 'Female' : 'Male'}" value="true">Female</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="payment-adress">
											<button type="submit"
												class="btn btn-primary waves-effect waves-light">Cập nhật thông tin</button>
										</div>
									</div>
								</div>
							</form>
							<!-- hết popup course detail -->


						</div>
						<div class="modal-footer">
						<button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
	
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</div>
	<!-- /.modal -->
        
        
        
        
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018. All rights reserved. Template by <a href="#">Acatim</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="admin/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="admin/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="admin/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="admin/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="admin/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="admin/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="admin/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="admin/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="admin/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="admin/js/metisMenu/metisMenu.min.js"></script>
    <script src="admin/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="admin/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="admin/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="admin/js/sparkline/sparkline-active.js"></script>
        <!-- data table JS
		============================================ -->
    <script src="admin/js/data-table/bootstrap-table.js"></script>
    <script src="admin/js/data-table/tableExport.js"></script>
    <script src="admin/js/data-table/data-table-active.js"></script>
    <script src="admin/js/data-table/bootstrap-table-editable.js"></script>
    <script src="admin/js/data-table/bootstrap-editable.js"></script>
    <script src="admin/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="admin/js/data-table/colResizable-1.5.source.js"></script>
    <script src="admin/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
		============================================ -->
    <script src="admin/js/editable/jquery.mockjax.js"></script>
    <script src="admin/js/editable/mock-active.js"></script>
    <script src="admin/js/editable/select2.js"></script>
    <script src="admin/js/editable/moment.min.js"></script>
    <script src="admin/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="admin/js/editable/bootstrap-editable.js"></script>
    <script src="admin/js/editable/xediable-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="admin/js/calendar/moment.min.js"></script>
    <script src="admin/js/calendar/fullcalendar.min.js"></script>
    <script src="admin/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="admin/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="admin/js/main.js"></script>
</body>

</html>