<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="'Acatim-Admin - Danh Sách Lịch Sử Thay Đổi'"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="admin/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/owl.carousel.css">
    <link rel="stylesheet" href="admin/css/owl.theme.css">
    <link rel="stylesheet" href="admin/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
        <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/modals.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="admin/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="admin/css/calendar/fullcalendar.print.min.css">
       <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/editor/select2.css">
    <link rel="stylesheet" href="admin/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="admin/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="admin/css/editor/x-editor-admin/style.css">
    
    <link rel="stylesheet" href="admin/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="admin/css/data-table/bootstrap-editable.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="admin/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/responsive.css">
        <!-- chosen CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/chosen/bootstrap-chosen.css">
    <!-- modernizr JS
		============================================ -->
    <script src="admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <!-- Start Left menu area -->
    <div th:insert="admin/menuAdmin :: menu"></div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">

        <div class="header-advance-area">
            <!-- Start right menu area -->
            <div th:insert="admin/menuRight :: menu"></div>
            <!-- End right menu area -->
            
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">All History</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
				<form th:action="@{allStatus}" th:object="${searchValue}" method="POST">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div >
								<div class="row">
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
										<div class="breadcome-heading">
											<input type="text" th:field="*{search}" placeholder="Tìm Kiếm" style="width: 100%"
												class="search-int form-control">
										</div>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
										<div class="breadcome-heading">
											<button type="submit"
												class="btn btn-primary waves-effect waves-light">Tìm Kiếm</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap drp-lst">
                            <h4>Danh Sách Lịch Sử thay Đổi</h4>
                            <div class="asset-inner" th:if="${checklist == true}"><h1 th:text="'Không có thông tin nào.'">Not Found!</h1></div>
                            <div class="asset-inner" th:if="${checklist == false}">
                                <table >
									<tr>
										<th>ID</th>
										<th>ID Thay Đổi</th>
										<th>Giá Trị Thay Đổi</th>
										<th>Người Sửa</th>
										<th>Ngày Sửa</th>
										<!-- <th></th> -->
									</tr>
									<tr th:each="status : ${allStatus}" th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd')}">
										<td th:text="${status.id}"></td>
										<td th:text="${status.idChange}"></td>
										<td th:text="${status.valueChanged}"></td>
										<td th:text="${status.by}"></td>
										<td th:text="${#dates.format(sdf.parse(status.dateChange), 'dd-MM-yyyy')}"></td>
										<!-- <td>
										<a th:href="@{/admin/editStatus(id=${status.id})}"><button type="button" class="btn btn-primary">Chi Tiết</button></a>
										</td> -->
									</tr>
								</table>
                            </div>
                            <div class="custom-pagination" th:if="${checklist == false}">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination" >
                                    	<li class="page-item" >
                                        	<a th:if="${currentPage != first}" class="page-link" th:href="@{/admin/allStatus(page=${first}, search=${searchValue.search})}" th:text="'Trang Đầu'"></a>
                                        	<a th:if="${currentPage == first}" class="page-link" th:text="'Trang Đầu'"></a>
                                        </li>
                                    	<li class="page-item"  th:if="${hasPrevious == true}">
                                        	<a class="page-link" th:href="@{/admin/allStatus(page=${previous}, search=${searchValue.search})}" th:text="'<'"></a>
                                        </li>
                                        <li class="page-item" th:each="totalPage : ${totalPages}">
                                        	<a th:if="${currentPage != totalPage}" class="page-link" th:href="@{/admin/allStatus(page=${totalPage}, search=${searchValue.search})}" th:text="${totalPage}"></a>
                                        	<a th:if="${currentPage == totalPage}" class="page-link" th:text="${totalPage}"></a>
                                        </li>
                                        <li class="page-item"  th:if="${hasNext == true}">
                                        	<a class="page-link" th:href="@{/admin/allStatus(page=${next})}" th:text="'>'"></a>
                                        </li>
                                        <li class="page-item">
                                        	<a th:if="${currentPage != last}" class="page-link" th:href="@{/admin/allStatus(page=${last}, search=${searchValue.search})}" th:text="'Trang Cuối'"></a>
                                        	<a th:if="${currentPage == last}" class="page-link" th:text="'Trang Cuối'"></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-copy-right">
                            <p>Acatim</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="admin/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="admin/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="admin/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="admin/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="admin/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="admin/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="admin/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="admin/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="admin/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="admin/js/metisMenu/metisMenu.min.js"></script>
    <script src="admin/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="admin/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="admin/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="admin/js/sparkline/sparkline-active.js"></script>
        <!-- data table JS
		============================================ -->
    <script src="admin/js/data-table/bootstrap-table.js"></script>
    <script src="admin/js/data-table/tableExport.js"></script>
    <script src="admin/js/data-table/data-table-active.js"></script>
    <script src="admin/js/data-table/bootstrap-table-editable.js"></script>
    <script src="admin/js/data-table/bootstrap-editable.js"></script>
    <script src="admin/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="admin/js/data-table/colResizable-1.5.source.js"></script>
    <script src="admin/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
		============================================ -->
    <script src="admin/js/editable/jquery.mockjax.js"></script>
    <script src="admin/js/editable/mock-active.js"></script>
    <script src="admin/js/editable/select2.js"></script>
    <script src="admin/js/editable/moment.min.js"></script>
    <script src="admin/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="admin/js/editable/bootstrap-editable.js"></script>
    <script src="admin/js/editable/xediable-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="admin/js/calendar/moment.min.js"></script>
    <script src="admin/js/calendar/fullcalendar.min.js"></script>
    <script src="admin/js/calendar/fullcalendar-active.js"></script>
        <!-- chosen JS
		============================================ -->
    <script src="admin/js/chosen/chosen.jquery.js"></script>
    <script src="admin/js/chosen/chosen-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="admin/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="admin/js/main.js"></script>
</body>

</html>