<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="'Acatim-Admin - Danh Sách Khóa Học'"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="admin/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/owl.carousel.css">
    <link rel="stylesheet" href="admin/css/owl.theme.css">
    <link rel="stylesheet" href="admin/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
        <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/modals.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="admin/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="admin/css/calendar/fullcalendar.print.min.css">
       <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/editor/select2.css">
    <link rel="stylesheet" href="admin/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="admin/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="admin/css/editor/x-editor-admin/style.css">
    
    <link rel="stylesheet" href="admin/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="admin/css/data-table/bootstrap-editable.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="admin/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/responsive.css">
        <!-- chosen CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/chosen/bootstrap-chosen.css">
    <!-- modernizr JS
		============================================ -->
    <script src="admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <!-- Start Left menu area -->
    <div th:insert="admin/menuAdmin :: menu"></div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">

        <div class="header-advance-area">
            <!-- Start right menu area -->
            <div th:insert="admin/menuRight :: menu"></div>
            <!-- End right menu area -->
            
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">All Students</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
				<form th:action="@{all-courses}" th:object="${searchValue}" method="POST">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div >
								<div class="row">
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
										<div class="breadcome-heading">
											
										</div>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
										<div class="chosen-select-single mg-b-20">
											<select class="chosen-select" th:field="*{categoryId}">
												<option value="0">--Tât Cả--</option>
												<option th:if="${allCategories != null}" th:each="category : ${allCategories}" th:value="${category.categoryId}">
												[[${category.categoryName}]]
												</option>
											</select>
										</div>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" th:if="${allSubjects != null}">
										<div class="chosen-select-single mg-b-20">
											<select class="chosen-select" th:field="*{subjectId}">
												<option value="0">--Tât Cả--</option>
												<option th:each="subject : ${allSubjects}" th:value="${subject.subjectId}">[[${subject.subjectName}]]</option>
											</select>
										</div>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
										<div class="breadcome-heading">
											<input type="text" th:field="*{search}" placeholder="Tìm Kiếm" style="width: 100%"
												class="search-int form-control">
										</div>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
										<div class="breadcome-heading">
											<button type="submit"
												class="btn btn-primary waves-effect waves-light">Tìm Kiếm</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap drp-lst">
                            <h4>Danh Sách Khóa Học</h4>
                            <div class="add-product">
                                <a th:href="@{/admin/add-course}">Thêm Khóa Học</a>
                            </div>
                            <div class="asset-inner">
                                <table>
									<tr>
										<th>ID Khóa Học</th>
										<th>Tên Khóa Học</th>
										<th>Thông Tin Khóa Học</th>
										<th>Giờ Bắt Đầu</th>
										<th>Giờ Kết thúc</th>
										<th>Ngày Bắt Đầu</th>
										<th>Ngày Kết thúc</th>
										<th>Giá (VND)</th>
										<th>Người Tạo</th>
										<th>Ngày Tạo</th>
										<th>Trạng Thái</th>
										<th></th>
									</tr>
									<tr th:if="${allCourses != null}" th:each="course : ${allCourses}">
										<td th:text="${course.courseId}"></td>
										<td th:text="${course.courseName}"></td>
										<td th:text="${course.courseDescription}"></td>
										<td th:text="${course.startTime}"></td>
										<td th:text="${course.endTime}"></td>
										<td th:text="${course.startDate}"></td>
										<td th:text="${course.endDate}"></td>
										<td th:text="${course.price}"></td>
										<td th:text="${course.userName}"></td>
										<td th:text="${course.createDate}"></td>
										
										<td th:if="${course.active == true}" style="color: green;"><b>Active</b></td>
										<td th:if="${course.active == false}" style="color: red;" ><b>Blocked</b></td>
										<td>
										<a th:href="@{/admin/edit-course(courseId=${course.courseId})}"><button type="button" class="btn btn-primary">Thay Đổi</button></a>
										<button type="button" class="btn btn-primary" data-toggle="modal"
							 							th:attr="data-target='#'+${course.courseId }" onclick="checkCode();">Xem thêm</button>
							 						<button type="button" class="btn btn-danger" data-toggle="modal" th:if="${course.active == true}"
							 								th:attr="data-target='#'+${course.courseId}+'1'">Khóa</button>
							 						<button type="button" class="btn btn-success" data-toggle="modal" th:if="${course.active == false}"
							 								th:attr="data-target='#'+${course.courseId}+'2'">Mở Khóa</button>
										</td>
									</tr>
									<tr th:if="${allCourses == null}">
										<td>Không Tìm Thấy Khóa Học nào</td>
									</tr>
									
								</table>
                            </div>
                            <div class="custom-pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination" >
                                    	<li class="page-item" >
                                        	<a th:if="${currentPage != first}" class="page-link" th:href="@{/admin/all-courses(page=${first}, categoryId=${searchValue.categoryId}, subjectId=${searchValue.subjectId})}">Trang Đầu</a>
                                        	<a th:if="${currentPage == first}" class="page-link" >Trang Đầu</a>
                                        </li>
                                    	<li class="page-item"  th:if="${hasPrevious == true}">
                                        	<a class="page-link" th:href="@{/admin/all-courses(page=${previous}, categoryId=${searchValue.categoryId}, subjectId=${searchValue.subjectId})}" >Trang trước</a>
                                        </li>
                                        <li class="page-item" th:each="totalPage : ${totalPages}">
                                        	<a th:if="${currentPage != totalPage}" class="page-link" th:href="@{/admin/all-courses(page=${totalPage}, categoryId=${searchValue.categoryId}, subjectId=${searchValue.subjectId})}" th:text="${totalPage}">1</a>
                                        	<a th:if="${currentPage == totalPage}" class="page-link" th:text="${totalPage}">1</a>
                                        </li>
                                        <li class="page-item"  th:if="${hasNext == true}">
                                        	<a class="page-link" th:href="@{/admin/all-courses(page=${next}, categoryId=${searchValue.categoryId}, subjectId=${searchValue.subjectId})}">Trang Sau</a>
                                        </li>
                                        <li class="page-item">
                                        	<a th:if="${currentPage != last}" class="page-link" th:href="@{/admin/all-courses(page=${last}, categoryId=${searchValue.categoryId}, subjectId=${searchValue.subjectId})}">Trang Cuối</a>
                                        	<a th:if="${currentPage == last}" class="page-link" >Trang Cuối</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div th:if="${allCourses != null}" th:id="${course.courseId}+'1'" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog" th:each="course : ${allCourses}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                    <div class="modal-body">
                                        <span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
                                        <h2>KHÓA!</h2>
                                        <p>Bạn có chắc muốn KHÓA khóa học này!</p>
                                    </div>
                                    <div class="modal-footer danger-md">
                                        <a data-dismiss="modal" href="#">Không</a>
                                        <a th:href="@{/admin/blockStudent(courseId=${course.courseId})}">Đúng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
        <div th:if="${allCourses != null}" th:id="${course.courseId}+'2'" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog"  th:each="course : ${allCourses}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                    <div class="modal-body">
                                        <span class="educate-icon educate-warning modal-check-pro information-icon-pro"></span>
                                        <h2>MỞ KHÓA!</h2>
                                        <p>Bạn có chắc muốn MỞ KHÓA khóa học này!</p>
                                    </div>
                                    <div class="modal-footer warning-md">
                                        <a data-dismiss="modal" href="#">Không</a>
                                        <a th:href="@{/admin/unlockStudent(courseId=${course.courseId})}">Đúng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
        
        <div th:if="${allCourses != null}" th:each="course : ${allCourses}">
		<form autocomplete="off" >
			<div th:id="${course.courseId}" class="modal fade" tabindex="-1" role="dialog"
				aria-labelledby="productGrid">
				<div class="modal-dialog modal-lg" role="document" >
					<div class="modal-content">
						<div class="modal-header">
						<h4 class="modal-title1" id="productGrid">Thông tin chi tiết
								khóa học</h4>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-4">
									<img
										src="https://images.unsplash.com/photo-1551567676-94fef02ca1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
										class="img-responsive" alt="a">
								</div>
								<div class="col-md-8">
									<h3 class="course-title"></h3>
									<div class="rating">
										<div class="stars">
											<span class="fa fa-star checked"></span> <span
												class="fa fa-star checked"></span> <span
												class="fa fa-star checked"></span> <span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
										</div>
										<span class="review-no">41 reviews</span></br> <span
											class="review-no">Giáo viên: </span><a th:href="@{/profileDetail(userName=${course.userName})}" th:text="${course.userName}"></a>
									</div>
									<p class="product-description" th:text="${course.courseDescription}"></p>
									<h4 class="price">
										Giá: <span>VND <span th:text="${course.price}"></span></span>
									</h4>
									<p class="vote">
										<strong>91%</strong> người thích khóa học này<strong>(87
											votes)</strong>
									</p>
									<h4 class="price">
										Thời gian: từ <span th:text="${course.startDate}"></span> đến <span th:text="${course.endDate}"><span>
									</h4>
									<h4 class="price">
										Thời gian bắt đầu học : từ <span th:text="${course.startTime}"></span> đến <span th:text="${course.endTime}"><span>
									</h4>

								</div>
							</div>
							<!-- hết popup course detail -->
						</div>
						<div class="modal-footer">
							<button type="submit" data-dismiss="modal" class="btn btn-primary" onclick="remove();">Close</button>
							<input type="submit" value="Gửi" class="btn btn-primary py-3 px-5">
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
		</form>
		
	</div>
	<!-- /.modal -->
	
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018. All rights reserved. Template by <a href="#">Acatim</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="admin/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="admin/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="admin/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="admin/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="admin/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="admin/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="admin/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="admin/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="admin/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="admin/js/metisMenu/metisMenu.min.js"></script>
    <script src="admin/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="admin/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="admin/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="admin/js/sparkline/sparkline-active.js"></script>
        <!-- data table JS
		============================================ -->
    <script src="admin/js/data-table/bootstrap-table.js"></script>
    <script src="admin/js/data-table/tableExport.js"></script>
    <script src="admin/js/data-table/data-table-active.js"></script>
    <script src="admin/js/data-table/bootstrap-table-editable.js"></script>
    <script src="admin/js/data-table/bootstrap-editable.js"></script>
    <script src="admin/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="admin/js/data-table/colResizable-1.5.source.js"></script>
    <script src="admin/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
		============================================ -->
    <script src="admin/js/editable/jquery.mockjax.js"></script>
    <script src="admin/js/editable/mock-active.js"></script>
    <script src="admin/js/editable/select2.js"></script>
    <script src="admin/js/editable/moment.min.js"></script>
    <script src="admin/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="admin/js/editable/bootstrap-editable.js"></script>
    <script src="admin/js/editable/xediable-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="admin/js/calendar/moment.min.js"></script>
    <script src="admin/js/calendar/fullcalendar.min.js"></script>
    <script src="admin/js/calendar/fullcalendar-active.js"></script>
        <!-- chosen JS
		============================================ -->
    <script src="admin/js/chosen/chosen.jquery.js"></script>
    <script src="admin/js/chosen/chosen-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="admin/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="admin/js/main.js"></script>
</body>

</html>