<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="'Acatim-Admin - Danh Sách Thể Loại'"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="admin/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/owl.carousel.css">
    <link rel="stylesheet" href="admin/css/owl.theme.css">
    <link rel="stylesheet" href="admin/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
        <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/modals.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="admin/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="admin/css/calendar/fullcalendar.print.min.css">
       <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/editor/select2.css">
    <link rel="stylesheet" href="admin/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="admin/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="admin/css/editor/x-editor-admin/style.css">
    
    <link rel="stylesheet" href="admin/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="admin/css/data-table/bootstrap-editable.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="admin/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/responsive.css">
        <!-- chosen CSS
		============================================ -->
    <link rel="stylesheet" href="admin/css/chosen/bootstrap-chosen.css">
    <!-- modernizr JS
		============================================ -->
    <script src="admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <!-- Start Left menu area -->
    <div th:insert="admin/menuAdmin :: menu"></div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">

        <div class="header-advance-area">
            <!-- Start right menu area -->
            <div th:insert="admin/menuRight :: menu"></div>
            <!-- End right menu area -->
            
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">All Students</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
				<form th:action="@{all-categorys}" th:object="${searchValue}" method="POST">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div >
								
							</div>
						</div>
					</div>
				</form>
				<div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap drp-lst">
                            <h4>Danh Sách Thể Loại</h4>
                            <div class="add-product">
                                <a th:href="@{/admin/add-category}">Thêm Thể Loại</a>
                            </div>
                            <div class="asset-inner">
                                <table>
									<tr>
										<th>ID Thể Loại</th>
										<th>Tên Thể Loại</th>
										<th>Ngày Tạo</th>
										<th>Ngày Thay Đổi</th>
										<th>Trạng Thái</th>
										<th></th>
									</tr>
									<tr th:if="${allCategories != null}" th:each="category : ${allCategories}">
										<td th:text="${category.categoryId}"></td>
										<td th:text="${category.categoryName}"></td>
										<td th:text="${category.createDate}"></td>
										<td th:text="${category.updateDate}"></td>
										
										<td th:if="${category.active == true}" style="color: green;"><b>Active</b></td>
										<td th:if="${category.active == false}" style="color: red;" ><b>Blocked</b></td>
										<td>
										<a th:href="@{/admin/edit-category(categoryId=${category.categoryId})}"><button type="button" class="btn btn-primary">Thay Đổi</button></a>
										<a th:href="@{/admin/all-subjects(categoryId=${category.categoryId})}"><button type="button" class="btn btn-primary">Xem Môn Học</button></a>
							 						<button type="button" class="btn btn-danger" data-toggle="modal" th:if="${category.active == true}"
							 								th:attr="data-target='#'+${category.categoryId}+'1'">Khóa</button>
							 						<button type="button" class="btn btn-success" data-toggle="modal" th:if="${category.active == false}"
							 								th:attr="data-target='#'+${category.categoryId}+'2'">Mở Khóa</button>
										</td>
									</tr>
									<tr th:if="${allCategories == null}">
										<td>Không Tìm Thấy Dữ Liệu nào</td>
									</tr>
									
								</table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div th:if="${allCategories != null}" th:id="${category.categoryId}+'1'" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog" th:each="category : ${allCategories}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                    <div class="modal-body">
                                        <span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
                                        <h2>KHÓA!</h2>
                                        <p>Bạn có chắc muốn KHÓA khóa học này!</p>
                                    </div>
                                    <div class="modal-footer danger-md">
                                        <a data-dismiss="modal" href="#">Không</a>
                                        <a th:href="@{/admin/blockCategory(categoryId=${category.categoryId})}">Đúng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
        <div th:if="${allCategories != null}" th:id="${category.categoryId}+'2'" class="modal modal-edu-general Customwidth-popup-WarningModal fade" role="dialog"  th:each="category : ${allCategories}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                    <div class="modal-body">
                                        <span class="educate-icon educate-warning modal-check-pro information-icon-pro"></span>
                                        <h2>MỞ KHÓA!</h2>
                                        <p>Bạn có chắc muốn MỞ KHÓA khóa học này!</p>
                                    </div>
                                    <div class="modal-footer warning-md">
                                        <a data-dismiss="modal" href="#">Không</a>
                                        <a th:href="@{/admin/unlockCategory(categoryId=${category.categoryId})}">Đúng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
	
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018. All rights reserved. Template by <a href="#">Acatim</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="admin/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="admin/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="admin/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="admin/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="admin/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="admin/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="admin/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="admin/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="admin/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="admin/js/metisMenu/metisMenu.min.js"></script>
    <script src="admin/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="admin/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="admin/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="admin/js/sparkline/sparkline-active.js"></script>
        <!-- data table JS
		============================================ -->
    <script src="admin/js/data-table/bootstrap-table.js"></script>
    <script src="admin/js/data-table/tableExport.js"></script>
    <script src="admin/js/data-table/data-table-active.js"></script>
    <script src="admin/js/data-table/bootstrap-table-editable.js"></script>
    <script src="admin/js/data-table/bootstrap-editable.js"></script>
    <script src="admin/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="admin/js/data-table/colResizable-1.5.source.js"></script>
    <script src="admin/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
		============================================ -->
    <script src="admin/js/editable/jquery.mockjax.js"></script>
    <script src="admin/js/editable/mock-active.js"></script>
    <script src="admin/js/editable/select2.js"></script>
    <script src="admin/js/editable/moment.min.js"></script>
    <script src="admin/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="admin/js/editable/bootstrap-editable.js"></script>
    <script src="admin/js/editable/xediable-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="admin/js/calendar/moment.min.js"></script>
    <script src="admin/js/calendar/fullcalendar.min.js"></script>
    <script src="admin/js/calendar/fullcalendar-active.js"></script>
        <!-- chosen JS
		============================================ -->
    <script src="admin/js/chosen/chosen.jquery.js"></script>
    <script src="admin/js/chosen/chosen-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="admin/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="admin/js/main.js"></script>
</body>

</html>