<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="menu">
	<!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="admin/index.html" th:href="@{/admin/}"><h1>Acatim</h1></a>
                <strong><a href="index.html"><img src="admin/img/logo/logosn.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="index.html">
								   <span class="educate-icon educate-home icon-wrap"></span>
								   <span class="mini-click-non">Trang Chủ</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Dashboard" th:href="@{/admin/}"><span class="mini-sub-pro">Dashboard </span></a></li>
                            </ul>
                        </li>
                        <li sec:authorize="hasAnyAuthority('Admin')">
                            <a class="has-arrow" th:href="@{/admin/all-managers}" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Quản Lý Nhân Viên</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Professors" th:href="@{/admin/all-managers}"><span class="mini-sub-pro">Danh Sách Nhân Viên</span></a></li>
                                <li><a title="Add Professor"  th:href="@{/admin/add-manager}"><span class="mini-sub-pro">Thêm Nhân Viên</span></a></li>
                            </ul>
                        </li>
						 <li>
                            <a class="has-arrow" th:href="@{/admin/allUser}" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Người Dùng</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Teachers" th:href="@{/admin/allUser}"><span class="mini-sub-pro">Danh Sách Người Dùng</span></a></li>
                                <li><a title="Add Teacher" th:href="@{/admin/addStudent}"><span class="mini-sub-pro">Thêm Học Sinh</span></a></li>
                                <li><a title="Add Teacher" th:href="@{/admin/addTeacher}"><span class="mini-sub-pro">Thêm Giáo Viên</span></a></li>
                                <li><a title="Add Teacher" th:href="@{/admin/addStudyCenter}"><span class="mini-sub-pro">Thêm Trung Tâm</span></a></li>
                                <li><a title="Teacher Profile" th:href="@{/admin/student-profile}"><span class="mini-sub-pro">Trang cá Nhân</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" th:href="@{/admin/all-courses}" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Khóa Học</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Courses" th:href="@{/admin/all-courses}"><span class="mini-sub-pro">Danh Sách Khóa Học</span></a></li>
                                <li><a title="Add Courses" th:href="@{/admin/add-course}"><span class="mini-sub-pro">Thêm Khóa học</span></a></li>
                            </ul>
                        </li>
						 <li>
                            <a class="has-arrow" th:href="@{/admin/all-subjects}" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Môn Học</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Courses" th:href="@{/admin/all-subjects}"><span class="mini-sub-pro">Danh Sách Môn Học</span></a></li>
                                <li><a title="Add Courses" th:href="@{/admin/add-subject}"><span class="mini-sub-pro">Thêm Môn Học</span></a></li>
                            </ul>
                        </li>
						 <li>
                            <a class="has-arrow" th:href="@{/admin/all-categories}" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Thể Loại</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Courses" th:href="@{/admin/all-categories}"><span class="mini-sub-pro">Danh Sách Thể Loại</span></a></li>
                                <li><a title="Add Courses" th:href="@{/admin/add-category}"><span class="mini-sub-pro">Thêm Thể Lọai</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" th:href="@{/admin/allContact}" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Phản Hồi</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Contact" th:href="@{/admin/allContact}"><span class="mini-sub-pro">Danh Sách Phản Hồi</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" th:href="@{/admin/allStatus}" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Lịch Sử</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Courses" th:href="@{/admin/allStatus}"><span class="mini-sub-pro">Lịch Sử Thay Đổi</span></a></li>
                            </ul>
                        </li>
                       
                        <li>
                            <a class="has-arrow" th:href="@{/admin/tinymc}" aria-expanded="false"><span class="educate-icon educate-form icon-wrap"></span> <span class="mini-click-non">Forms Elements</span></a>
                            <ul class="submenu-angle form-mini-nb-dp" aria-expanded="false">
                                <li><a title="Text Editor" th:href="@{/admin/tinymc}" ><span class="mini-sub-pro">Text Editor</span></a></li>
                            </ul>
                        </li>
                        <li id="removable">
                            <a class="has-arrow" th:href="@{/admin/login}" aria-expanded="false"><span class="educate-icon educate-pages icon-wrap"></span> <span class="mini-click-non">Pages</span></a>
                            <ul class="submenu-angle page-mini-nb-dp" aria-expanded="false">
                                <li><a title="Login" th:href="@{/admin/login}"><span class="mini-sub-pro">Login</span></a></li>
                                <li><a title="Register" th:href="@{/admin/register}"><span class="mini-sub-pro">Register</span></a></li>
                                <li><a title="Password Recovery" th:href="@{/admin/password-recovery}"><span class="mini-sub-pro">Password Recovery</span></a></li>
                                <li><a title="404 Page" th:href="@{/admin/404}"><span class="mini-sub-pro">404 Page</span></a></li>
                                <li><a title="500 Page" th:href="@{/admin/500}"><span class="mini-sub-pro">500 Page</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    </div>
    <!-- End Left menu area -->
</body>
</html>