<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="menu">
	<!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="admin/index.html" th:href="@{/admin/}"><h1>Acatim</h1></a>
                <strong><a href="index.html"><img src="admin/img/logo/logosn.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="index.html">
								   <span class="educate-icon educate-home icon-wrap"></span>
								   <span class="mini-click-non">Education</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Dashboard" th:href="@{/admin/}"><span class="mini-sub-pro">Dashboard </span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" th:href="@{/admin/all-professors}" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Professors</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Professors" th:href="@{/admin/all-professors}"><span class="mini-sub-pro">All Professors</span></a></li>
                                <li><a title="Add Professor"  th:href="@{/admin/add-professor}"><span class="mini-sub-pro">Add Professor</span></a></li>
                                <li><a title="Edit Professor" th:href="@{/admin/edit-professor}"><span class="mini-sub-pro">Edit Professor</span></a></li>
                                <li><a title="Professor Profile" th:href="@{/admin/professor-profile}"><span class="mini-sub-pro">Professor Profile</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" th:href="@{/admin/all-students}"  aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Students</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Students"  th:href="@{/admin/all-students}"><span class="mini-sub-pro">All Students</span></a></li>
                                <li><a title="Add Students"  th:href="@{/admin/add-student}"><span class="mini-sub-pro">Add Student</span></a></li>
                                <li><a title="Edit Students"  th:href="@{/admin/edit-student}"><span class="mini-sub-pro">Edit Student</span></a></li>
                                <li><a title="Students Profile" th:href="@{/admin/student-profile}"><span class="mini-sub-pro">Student Profile</span></a></li>
                            </ul>
                        </li>
						 <li>
                            <a class="has-arrow" th:href="@{/admin/all-teachers}" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Teacher</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Teachers" th:href="@{/admin/all-teachers}"><span class="mini-sub-pro">All Teachers</span></a></li>
                                <li><a title="Add Teacher" th:href="@{/admin/add-teacher}"><span class="mini-sub-pro">Add Teacher</span></a></li>
                                <li><a title="Edit Teacher" th:href="@{/admin/edit-teacher}"><span class="mini-sub-pro">Edit Teacher</span></a></li>
                                <li><a title="Teacher Profile" th:href="@{/admin/teacher-profile}"><span class="mini-sub-pro">Teacher Profile</span></a></li>
                            </ul>
                        </li>
						 <li>
                            <a class="has-arrow" th:href="@{/admin/all-study-centers}" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Study Center</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Students" th:href="@{/admin/all-study-centers}"><span class="mini-sub-pro">All Study Center</span></a></li>
                                <li><a title="Add Students" th:href="@{/admin/add-study-centers}"><span class="mini-sub-pro">Add Study Center</span></a></li>
                                <li><a title="Edit Students" th:href="@{/admin/edit-study-centers}"><span class="mini-sub-pro">Edit Study Center</span></a></li>
                                <li><a title="Students Profile" th:href="@{/admin/study-centers-profile}"><span class="mini-sub-pro">Study Center Profile</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" th:href="@{/admin/all-courses}" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Courses</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Courses" th:href="@{/admin/all-courses}"><span class="mini-sub-pro">All Courses</span></a></li>
                                <li><a title="Add Courses" th:href="@{/admin/add-course}"><span class="mini-sub-pro">Add Course</span></a></li>
                                <li><a title="Edit Courses" th:href="@{/admin/edit-course}"><span class="mini-sub-pro">Edit Course</span></a></li>
                                <li><a title="Courses Profile" th:href="@{/admin/course-info}"><span class="mini-sub-pro">Courses Info</span></a></li>
                            </ul>
                        </li>
						 <li>
                            <a class="has-arrow" th:href="@{/admin/all-subjects}" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Subject</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Courses" th:href="@{/admin/all-subjects}"><span class="mini-sub-pro">All Subject</span></a></li>
                                <li><a title="Add Courses" th:href="@{/admin/add-subject}"><span class="mini-sub-pro">Add Subject</span></a></li>
                                <li><a title="Edit Courses" th:href="@{/admin/edit-subject}"><span class="mini-sub-pro">Edit Subject</span></a></li>
                                <li><a title="Courses Profile" th:href="@{/admin/subject-info}"><span class="mini-sub-pro">Subject Info</span></a></li>
                            </ul>
                        </li>
						 <li>
                            <a class="has-arrow" th:href="@{/admin/all-categories}" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Categories</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Courses" th:href="@{/admin/all-categories}"><span class="mini-sub-pro">All Categories</span></a></li>
                                <li><a title="Add Courses" th:href="@{/admin/add-category}"><span class="mini-sub-pro">Add Categories</span></a></li>
                                <li><a title="Edit Courses" th:href="@{/admin/edit-category}"><span class="mini-sub-pro">Edit Categories</span></a></li>
                                <li><a title="Courses Profile" th:href="@{/admin/category-info}"><span class="mini-sub-pro">Categories Info</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" th:href="@{/admin/library-assets}" aria-expanded="false"><span class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Library</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Library" th:href="@{/admin/library-assets}"><span class="mini-sub-pro">Library Assets</span></a></li>
                                <li><a title="Add Library" th:href="@{/admin/add-library-assets}"><span class="mini-sub-pro">Add Library Asset</span></a></li>
                                <li><a title="Edit Library" th:href="@{/admin/edit-library-assets}"><span class="mini-sub-pro">Edit Library Asset</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" th:href="@{/admin/departments}" aria-expanded="false"><span class="educate-icon educate-department icon-wrap"></span> <span class="mini-click-non">Departments</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Departments List" th:href="@{/admin/departments}"><span class="mini-sub-pro">Departments List</span></a></li>
                                <li><a title="Add Departments" th:href="@{/admin/add-department}"><span class="mini-sub-pro">Add Departments</span></a></li>
                                <li><a title="Edit Departments" th:href="@{/admin/edit-department}"><span class="mini-sub-pro">Edit Departments</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" th:href="@{/admin/data-table}" aria-expanded="false"><span class="educate-icon educate-data-table icon-wrap"></span> <span class="mini-click-non">Data Tables</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Data Table" th:href="@{/admin/data-table}"><span class="mini-sub-pro">Data Table</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" th:href="@{/admin/basic-form-element}" aria-expanded="false"><span class="educate-icon educate-form icon-wrap"></span> <span class="mini-click-non">Forms Elements</span></a>
                            <ul class="submenu-angle form-mini-nb-dp" aria-expanded="false">
                                <li><a title="Basic Form Elements" th:href="@{/admin/basic-form-element}"><span class="mini-sub-pro">Bc Form Elements</span></a></li>
                                <li><a title="Advance Form Elements" th:href="@{/admin/advance-form-element}"><span class="mini-sub-pro">Ad Form Elements</span></a></li>
                                <li><a title="Password Meter" th:href="@{/admin/password-meter}"><span class="mini-sub-pro">Password Meter</span></a></li>
                                <li><a title="Multi Upload" th:href="@{/admin/multi-upload}"><span class="mini-sub-pro">Multi Upload</span></a></li>
                                <li><a title="Text Editor" th:href="@{/admin/tinymc}" ><span class="mini-sub-pro">Text Editor</span></a></li>
                                <li><a title="Dual List Box" th:href="@{/admin/dual-list-box}"> <span class="mini-sub-pro">Dual List Box</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" th:href="@{/admin/notifications}" aria-expanded="false"><span class="educate-icon educate-apps icon-wrap"></span> <span class="mini-click-non">App views</span></a>
                            <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">
                                <li><a title="Notifications" th:href="@{/admin/notifications}"><span class="mini-sub-pro">Notifications</span></a></li>
                                <li><a title="Alerts" th:href="@{/admin/alerts}"><span class="mini-sub-pro">Alerts</span></a></li>
                                <li><a title="Modals" th:href="@{/admin/modals}"><span class="mini-sub-pro">Modals</span></a></li>
                                <li><a title="Buttons"  th:href="@{/admin/buttons}"><span class="mini-sub-pro">Buttons</span></a></li>
                                <li><a title="Tabs" th:href="@{/admin/tabs}"><span class="mini-sub-pro">Tabs</span></a></li>
                                <li><a title="Accordion" th:href="@{/admin/accordion}"><span class="mini-sub-pro">Accordion</span></a></li>
                            </ul>
                        </li>
                        <li id="removable">
                            <a class="has-arrow" th:href="@{/admin/login}" aria-expanded="false"><span class="educate-icon educate-pages icon-wrap"></span> <span class="mini-click-non">Pages</span></a>
                            <ul class="submenu-angle page-mini-nb-dp" aria-expanded="false">
                                <li><a title="Login" th:href="@{/admin/login}"><span class="mini-sub-pro">Login</span></a></li>
                                <li><a title="Register" th:href="@{/admin/register}"><span class="mini-sub-pro">Register</span></a></li>
                                <li><a title="Password Recovery" th:href="@{/admin/password-recovery}"><span class="mini-sub-pro">Password Recovery</span></a></li>
                                <li><a title="404 Page" th:href="@{/admin/404}"><span class="mini-sub-pro">404 Page</span></a></li>
                                <li><a title="500 Page" th:href="@{/admin/500}"><span class="mini-sub-pro">500 Page</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    </div>
    <!-- End Left menu area -->
</body>
</html>